[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
sqlalchemy = "*"
pandas = "*"
numpy = "*"
dash-core-components = "*"
dash = "*"
plotly = "*"
dash-html-components = "*"
rich = "*"
kaleido = "*"
psycopg2-binary = "*"
psutil = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
